@font-face {
  font-family: 'ArialMT';
  src: url("../fonts/arialmt.ttf") format("truetype");
}

@font-face {
  font-family: 'Socialico';
  src: url("../fonts/socialico.ttf") format("truetype");
}

html, body, h1, h2, h3, img, p {
  margin: 0;
  padding: 0;
}

body {
  width: 1280px;
  margin: 0 auto;
  font-family: ArialMT, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.header {
  color: #ffffff;
  background: #445162;
  font-weight: 400;
  min-height: 323px;
  padding: 23px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-title {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  margin: 10px 0 35px;
}

.header-list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 35px;
}

.header-item {
  font-size: 20px;
  line-height: 36px;
  position: relative;
}

.header-item::before {
  width: 25px;
  height: 19px;
  position: absolute;
  content: '';
  top: 5px;
  left: -33px;
  background: url(../img/check_icon_349.png);
  background-size: 25px 19px;
}

.header-img {
  margin-top: 10px;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 0 24px 0;
  color: #445161;
}

.about {
  padding: 50px 0 0 0;
  margin: 0 50px 50px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-title {
  margin: 0 0 14px 0;
}

.about-content {
  max-width: 650px;
}

.about-text {
  padding: 10px 10px 5px 0;
}

.dignity {
  background: #f5f5f5;
  padding: 50px 50px 20px;
}

.dignity-title {
  text-align: center;
}

.dignity-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dignity-item {
  margin: 0 0 40px 0;
  width: 47%;
  position: relative;
}

.dignity-item::before {
  width: 34px;
  height: 35px;
  position: absolute;
  top: 4px;
  left: -42px;
  content: '';
  background: url(../img/dignity-list.png);
  background-size: 34px 35px;
}

.screenshots {
  padding: 50px 50px 20px;
  background: #ffffff;
}

.screenshots-title {
  text-align: center;
  margin: 0 0 14px 0;
}

.screenshots-list {
  width: 100%;
  padding: 20px 0 0 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.screenshots-item {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 25px;
}

.scr-tit {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  color: #445161;
}

.scr-ins {
  margin: 0 0 0 10px;
}

.reviews {
  background: #f5f5f5;
  padding: 50px 50px 35px;
}

.reviews-title {
  text-align: center;
  margin: 0 0 14px 0;
}

.reviews-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-content {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.reviews-userpick {
  margin: 20px 0 0 0;
}

.reviews-review {
  background: #ebebeb;
  max-width: 450px;
  border-radius: 5px;
  padding: 5px 5px 5px 10px;
  margin: 20px;
  position: relative;
  z-index: 10;
}

.reviews-review::after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  z-index: 10;
  border: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  margin-top: -15px;
  top: 30%;
  border-right: 15px solid #ebebeb;
  left: -15px;
}

.review-text {
  padding: 5px;
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  color: #333333;
}

.review-sing {
  padding: 5px;
  font-size: 14px;
  line-height: 18px;
  color: #989898;
}

.buy {
  padding: 50px 50px 20px;
  background: #fff;
}

.buy-title {
  text-align: center;
  margin: 0 0 14px 0;
}

.buy-conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px 50px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.buy-condition {
  background: #445162;
  border-radius: 5px;
  width: 30%;
  max-width: 300px;
}

.buy-condition-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
}

.buy-condition-price {
  border: 1px solid #445162;
  background: #ffffff;
  width: 99%;
  font-size: 40px;
  line-height: 30px;
  font-weight: 400;
  color: #445162;
  text-align: center;
  padding: 15px 0;
}

.buy-condition-item {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.buy-condition-button {
  width: 260px;
  font-size: 18px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 7px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #445161;
  margin: 5px 20px 20px;
}

.footer {
  padding: 50px 0 0;
  background: #445162;
}

.footer-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 0 24px 0;
  text-align: center;
  color: #ffffff;
}

.footer-wrap {
  padding: 10px 0 60px;
  width: 64%;
  margin: 0 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-form {
  width: 500px;
  height: 354px;
}

.footer-button {
  height: 40px;
  background-color: #ffffff;
  border-radius: 7px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #445161;
  width: 140px;
  margin: 5px 180px;
}

.footer-input {
  width: 500px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #445162;
  padding: 10px;
  border-radius: 7px;
  margin: 0 0 20px;
}

.footer-input-mess {
  padding-bottom: 130px;
}

.footer-list {
  list-style-type: none;
  padding: 0 0 0 32px;
  margin: 0;
}

.footer-item {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin: 5px 0 25px;
}

.footer-skype {
  position: relative;
}

.footer-skype::before {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: -32px;
  content: '';
  background-size: 26px 26px;
  background: url(../img/skype_icon.png) no-repeat;
}

.footer-icq {
  position: relative;
}

.footer-icq::before {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: -32px;
  content: '';
  background-size: 26px 26px;
  background: url(../img/icq_icon.png) no-repeat;
}

.footer-email {
  position: relative;
}

.footer-email::before {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: -32px;
  content: '';
  background-size: 26px 26px;
  background: url(../img/email_icon.png) no-repeat;
}

.footer-phone {
  position: relative;
}

.footer-phone::before {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: -32px;
  content: '';
  background-size: 26px 26px;
  background: url(../img/phone_icon.png) no-repeat;
}

.footer-socbut {
  font-family: Socialico;
  font-size: 60px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  margin: 45px 0;
}

.footer-copyr {
  font-size: 12px;
  letter-spacing: 0.025em;
  color: #445162;
  background: #f5f5f5;
  text-align: center;
  padding: 5px 0;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */